//============================================================================//
// VIRUS/REFERENCE-SPECIEIC Configurations.
// Should use -c switch when running nextflow to specify these settings.
//============================================================================//
params.reference_genome_fasta = "$baseDir/resources/ref/HPyV7/HPyV7.fasta"
params.genome_length = 4952 // length of a *single* reference genome
params.reference_length = 4952 // length of entire reference sequence
params.STAR_reference_index = "$baseDir/resources/ref/HPyV7/HPyV7"
params.diamond_database = "$baseDir/resources/ref/HPyV7/HPyV7.dmnd"
params.n_genomes = 1
