//============================================================================//
// VIRUS/REFERENCE-SPECIEIC Configurations.
// Should use -C switch when running nextflow so that these configuration
// settings override the defaults
//============================================================================//
params.reference_genome_fasta = "$baseDir/resources/ref/JCPyV/JCPyV_DOUBLE.fasta"
params.genome_length = 5130 // length of a *single* reference genome
params.reference_length = 10260 // length of entire reference sequence
params.STAR_reference_index = "$baseDir/resources/ref/JCPyV/STAR_JC_DOUBLE"
params.diamond_database = "$baseDir/resources/ref/JCPyV/JCPyV_canonical_pr.dmnd"
