//============================================================================//
// VIRUS/REFERENCE-SPECIEIC Configurations.
// Should use -c switch when running nextflow to specify these settings.
//============================================================================//
params.reference_genome_fasta = "$baseDir/resources/ref/MCPyV/MCPyV.fasta"
params.genome_length = 5387 // length of a *single* reference genome
params.reference_length = 5387 // length of entire reference sequence
params.STAR_reference_index = "$baseDir/resources/ref/MCPyV/MCPyV"
params.diamond_database = "$baseDir/resources/ref/BKPyV/MCPyV.dmnd"
params.n_genomes = 1
