//============================================================================//
// VIRUS/REFERENCE-SPECIEIC Configurations.
// Should use -c switch when running nextflow to specify these settings.
//============================================================================//
params.reference_genome_fasta = "$baseDir/resources/ref/MPyV/MPyV_DOUBLE.fasta"
params.genome_length = 5307 // length of a *single* reference genome
params.reference_length = 10614 // length of entire reference sequence
params.STAR_reference_index = "$baseDir/resources/ref/MPyV/STAR_MPyV_DOUBLE"
params.diamond_database = "$baseDir/resources/ref/MPyV/MPyV_canonical_pr.dmnd"
