//============================================================================//
// VIRUS/REFERENCE-SPECIEIC Configurations.
// Should use -c switch when running nextflow to specify these settings.
//============================================================================//
params.reference_genome_fasta = "$baseDir/resources/ref/MPyV/MPyV_x20.fasta"
params.genome_length = 5307 // length of a *single* reference genome
params.reference_length = 106140 // length of entire reference sequence
params.STAR_reference_index = "$baseDir/resources/ref/MPyV/MPyV_x20"
params.diamond_database = "$baseDir/resources/ref/MPyV/MPyV_canonical_pr.dmnd"
params.n_genomes = 20
